---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components';
import { createClient } from '@libsql/client';

export async function getStaticPaths() {
  // Initialize Turso client
  const turso = createClient({
    url: import.meta.env.TURSO_DATABASE_URL,
    authToken: import.meta.env.TURSO_AUTH_TOKEN,
  });

  // Fetch all post IDs and titles to create paths for individual posts
  const { rows } = await turso.execute('SELECT id, title FROM blog');

  // Generate paths based on title, using it as a URL slug
  return rows.map((post) => {
    return {
      params: { post: post.title.replaceAll(' ', '-').toLowerCase() },
      props: { id: post.id },
    };
  });
}

const { id } = Astro.props;

// Fetch the full post data using the post ID
const turso = createClient({
  url: import.meta.env.TURSO_DATABASE_URL,
  authToken: import.meta.env.TURSO_AUTH_TOKEN,
});
const { rows: [post] } = await turso.execute(`SELECT title, description, date, blog FROM blog WHERE id = ?`, [id]);
---

<DefaultLayout title={post.title} description={post.description} url={post.title}>
  <div class="container">
  

    <h1>{post.title}</h1>
    <p>{post.blog}</p>