---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components';
import { getCollection } from 'astro:content';

// Define `getStaticPaths` to generate paths for each blog post
export async function getStaticPaths() {
  const blogPosts = await getCollection('blog');

  return blogPosts.map((post) => ({
    params: { post: post.slug },
    props: { post },
  }));
}

// Define post as a prop from the `getStaticPaths` function
const { post } = Astro.props;

// Helper function to format dates
function formatDate(dateStr) {
  const date = new Date(dateStr);
  if (isNaN(date)) return 'Date not available';
  return date.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
  });
}
---

<DefaultLayout
  title={post.data.title}
  description={post.data.description}
  url={`/blog/${post.slug}`}
>
  <div class="container">
    <div class="mt-12">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem href="/blog" label="Blog" />
        <BreadcrumbsItem currentPage={true} label={post.data.title} />
      </Breadcrumbs>
    </div>
  </div>

  <section class="my-12">
    <div class="container">
      <h1>{post.data.title}</h1>
      <p class="text-sm text-gray-600">
        By {post.data.author} on {formatDate(post.data.pubDate)}
      </p>
      <img src={post.data.imgUrl} alt={post.data.title} class="post-image" />
    </div>
  </section>
  <section class="my-12">
    <div class="container">
<Content/>
      <!-- <p class="text-2xl">{post.body}</p> -->
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  .content {
    margin-top: 2rem;
  }

  .post-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 8px;
  }
</style>